<ngx-ui-loader fgsColor="#fce4ec" pbColor="#fce4ec" fgsType="double-bounce" text="Hold On.!"></ngx-ui-loader>

<div ngxUiLoaderBlurred (blur)="6">
  <app-navbar></app-navbar>
<router-outlet></router-outlet>
</div>
<!-- <app-navbar> </app-navbar>
<div class="bootstrap-wrapper">
  <div class="container">
    <div class="example-button-container" style="margin: 10px;">
      <button mat-fab color="warn" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
    </div>  
  </div>  
</div> -->
