<div class="bootstrap-wrapper">
        <div class="container">
            <div class="row" style="margin-top: 10px; ">
              
              <mat-card>
                <div class="container text-center">
                     <img src="../../../assets/register_logo.webp" style="height: 150px; width: 150px; " alt="">
                </div>
                
                <div class="col md-6">
                        <h1 class="text-center" style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Exam Portal Registation</h1>

                        <form (ngSubmit)="submit()">
                            <!-- username field -->
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Username</mat-label>
                                <input 
                                [(ngModel)]="user.userName" 
                                name="username"
                                required
                                matInput />
                                
                                <mat-hint>Username must be unique</mat-hint>
                              </mat-form-field> 

                              <!-- fist name field -->
                              
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>First Name</mat-label>
                                <input 
                                [(ngModel)]="user.userFirstName"
                                name="firstname"
                                required
                                matInput />
                                
                                
                                
                              </mat-form-field> 

                                <!-- last name field -->
                              
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Last Name</mat-label>
                                <input 
                                [(ngModel)]="user.userLastName"
                                name="lastname"
                                matInput />
                                
                                
                              </mat-form-field> 

                                <!-- email  field -->
                              
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Email</mat-label>
                                <input 
                                [(ngModel)]="user.userEmail"
                                name="email" type="email"
                                required
                                matInput />

                                
                              </mat-form-field> 

                               <!-- password  field -->
                              
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Password</mat-label>
                                <input 
                                [(ngModel)]="user.userPassword"
                                name="password" type="password" required
                                matInput/> 
                                
                                
                              </mat-form-field> 

                               <!-- contact  field -->
                              
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Contact</mat-label>
                                <input 
                                [(ngModel)]="user.userContactNumber" type="number"
                                name="contact"
                                matInput />
                                
                                
                              </mat-form-field> 
                          
                             <div class="container text-center">
                                <button mat-raised-button color="primary" class="register-button" type="submit">Register </button>
                                <button mat-stroked-button color="warn" class="register-button" type="reset">Clear</button>
                             </div>
                        </form>
                </div>
              </mat-card>
            </div>
        </div>
</div> 